@import url('https://fonts.googleapis.com/css?family=Roboto:300, 400, 500,700&display=swap');
* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    font-display: swap;
}

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

h1,
h2 {
    font-weight: 300;
}

h1 {
    font-size: 50px;
    width: 50%;
    font-weight: bold;
}

h2 {
    color: #4d4d4d;
}

.versionContainer {
    position:relative;
}

.versionNumber {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 12px;
  font-weight: 100;
  color: #888;
}

.mainWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background: #555962;
}

.loaderWrapper {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 100;
}

.loaderWrapper h2 {
  color: #FFF;
  font-weight: 100;
  margin-top: 10px;
  font-size: 24px;
}

.exportStep {
    display: flex;
    flex-direction: column;
    background-color: #dadde4;
    height: 100%;
}

.exportStep.hidden {
    display: none;
}

.mainlogonWrapper {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 1100px;
    height: 650px;
    background: white;
    margin-top: auto;
    margin-bottom: auto;
}

.logoWrapper {
    background: #00bc9a;
    color: #f2f2f2;
    flex: 400px 0 0;
    align-items: center;
    justify-content: center;
    display: flex;
}

.dbSection {
  display: none;
}

.dbSelectionLabel {
  font-size: 1rem;
  color: rgba(0,0,0,.26);
}

.userBarWrapper {
  display: none;
}

.userBarWrapper.show {
  display: flex;
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
  align-items: center;
}

.avatarIcon {
  width: 48px;
  height: 48px;
  background: url("../svg/user-icon.svg");
  display: inline-block;
  background-size: cover;
  border: 1px solid #888;
  border-radius: 48px;
}

.avatarIconBig {
  width: 64px;
  height: 64px;
  background: url("../svg/user-icon.svg");
  display: inline-block;
  background-size: cover;
  border: 1px solid #888;
  border-radius: 48px;
}

.UserCard {
    display: none;
    background-color: #333;
    width: 250px;
    height: 100px;
    float: right;
    position: absolute;
    top: 0;
    right: 0;
    box-shadow: 1px 1px 5px 0px;
    z-index: 10;
}

.userCardItems {
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    text-align: left;
}

.userCardBtn {
  background-color: #444;
  border-width: 0px;
  color: #fff;
  transition: all 0.25s;
  font-size: 12px;
  padding: 4px;
  text-align: left;
  padding-left: 7px;
}

.userCardInfo {
  margin-top: 5px;
  margin-bottom: 5px;
}

.userCardBtn:hover {
  background-color: #555;
  cursor: pointer;
}

.userCardAvatarWrapper {
  height: 100%;
  width: 50%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoutIcon {
    width: 48px;
    height: 48px;
    background: url("../svg/arrow_drop_down.svg");
    display: inline-block;
    background-size: 48px 48px;
}

.logoutBtn {
  background-color: #333;
  opacity: 0;
  width: 48px;
  height: 48px;
  display: inline-block;
  border-radius: 48px;
  transition: all 0.5s;
}

.logoutBtn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.avatarInfo {
  font-size: 12px;
  color: #888;
  display: block;
  margin-right: 6px;
  text-align: right;
}

.userCardInfo1 {
  font-size: 12px;
  color: #FFF;
  display: block;
  margin-left: 6px;
  text-align: left;
}

.userCardInfo2 {
  font-size: 10px;
  color: #888;
  display: block;
  margin-left: 6px;
  text-align: left;
}

.userTextWrapper {
  margin-left: auto;
}

.logonWrapper {
    flex: 1;
    box-shadow: -12px 0px 15px -5px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
    position: relative;
}

.logonContent {
    display: flex;
    height: 100%;
}

.logo {
    background: url("../svg/logo.svg");
    width: 100px;
    height: 100px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 100px 100px;
    margin-right: 15px;
}

.logoHeader {
    background: url("../svg/logo.svg");
    width: 50px;
    height: 50px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 50px 50px;
    margin-right: 15px;
}

.logoSmall {
    display: none;
}

.topContentWrapper {
  display: flex;
  flex-direction: row;
}

.logonText {
    font-weight: 500;
    align-self: flex-start;
    margin-left: 0;
    margin-right: auto;
}

.logonStatusText {
  margin-top: 0px;
  color: #e74c3c;
  font-size: 12px;
  text-rendering: optimizeLegibility;
  padding-bottom: 25px;
}

.logonButton {
    background-color: #00bc9a;
    border-radius: 28px;
    display: inline-block;
    font-weight: 600;
    cursor: pointer;
    color: #ffffff;
    font-size: 20px;
    padding: 15px 30px;
    text-decoration: none;
    width: 170px;
    margin-top: 25px;
    transition: 0.3s;
    border-width: 0px;
}

.logonButton:hover {
    background-color: #008c73;
}

.disconnectButton {
    background-color: #008c73;
    border-radius: 28px;
    display: inline-block;
    font-weight: 600;
    cursor: pointer;
    color: #ffffff;
    font-size: 15px;
    padding: 10px 10px;
    text-decoration: none;
    width: 115px;
    transition: 0.3s;
    margin-left: auto;
    border-width: 0px;
}

.disconnectButton:hover {
    background-color: #006553;
}

.bottomInputs {
    flex: 1;
    display: flex;
}

.bottomInputs .server {
    margin-right: 16px;
}

.header {
    background-color: #00bc9a;
    padding: 10px 10px;
    display: flex;
    align-items: center;
    box-shadow: 10px 0px 15px 0px rgba(0, 0, 0, 0.2);
    flex-shrink: 0;
    flex: 100px 0 0;
}

.productNameSmall {
    font-weight: bold;
    font-size: 32px;
    margin-left: 5px;
    color: #ffffff;
    margin-top: 6px;
}

.backBtn {
    display: block;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 1px solid red;
}

.mainContainer {
    background-color: #fff;
    box-shadow: -12px 0px 15px -5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    padding: 50px;
    width: 60%;
    height: 100%;
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto;
    flex: 1 0 0;
}

.DBInfoWrapper {
    display: flex;
    align-items: center;
}

.DBName,
.tableName {
    font-weight: bold;
    color: #415771;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.DBNameSmall,
.DBNameSmallBottom {
    font-weight: lighter;
    color: #c4c4c4;
    font-size: 18px;
    margin-left: 8px;
    margin-top: 8px;
    white-space: nowrap;
    overflow: hidden;
}

.dividerFat {
    width: 100%;
    height: 4px;
    margin-top: 10px;
    margin-bottom: 12px;
    background-color: #cdcbce;
}

.exportFooter {
    background-color: #ffffff;
    width: 100%;
    box-shadow: -12px 0px 15px -5px rgba(0, 0, 0, 0.2);
    padding: 25px;
    display: flex;
    flex: 100px 0 0;
    flex-grow: 0;
}

.exportButton {
    background-color: #1c6f42;
}

.exportButton:hover {
    background-color: #008c73;
}

.exportButtonGray {
    background-color: #333333;
}

.exportButtonGray:hover {
    background-color: #555555;
}

.exportButton,
.exportButtonGray {
    border-radius: 8px;
    display: inline-block;
    font-weight: 600;
    cursor: pointer;
    color: #ffffff;
    font-size: 20px;
    padding: 15px 30px;
    text-decoration: none;
    width: auto;
    transition: 0.3s;
    margin-left: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.exportButtonWrapper {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.excelIcon {
    background: url("../svg/excel.svg");
}

.CSVIcon {
    background: url("../svg/csv.svg");
}

.excelIcon,
.CSVIcon {
    width: 24px;
    height: 24px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 24px 24px;
    margin-right: 15px;
}

.btn.bmd-btn-fab.btn-success,
.btn.btn-raised.btn-success {
    background-color: #008d73;
    margin-left: auto;
}

.bmd-form-group,
.bmd-collapse-inline,
.pull-xs-right {
    margin-left: auto;
}

form {}

input {
    width: 100%;
    display: block;
}

.contentList {
    overflow-y: auto;
    height: 100%;
}

#contentListItems {
    list-style-type: none;
}

#contentListItems li input {
    display: inline-block;
    width: auto;
    margin-right: 5px;
}

#contentListItems li label {
    display: inline-block;
    color: grey;
    width: 90%;
}

@media only screen and (max-width: 600px) {
    .logoSmall {
        background: url("../svg/logo_green.svg");
        width: 100px;
        height: 100px;
        display: inline-block;
        background-repeat: no-repeat;
        background-size: 100px 100px;
    }
    .logonWrapper {
        overflow-y: auto;
    }
    body {
        overflow: auto;
    }
    .logoWrapper {
        display: none;
    }
    .mainContainer {
        width: 100%;
        margin: 0;
        padding: 0px;
    }
    .mainlogonWrapper {
        height: 100%;
    }
    .topContentWrapper {
      flex-direction: column;
    }
    .logonForm {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .logonButton {
      align-self: center;
    }
    .logonStatusText {
      font-size: 14px;
    }
    .productName, .productNameSmall, .DBInfoWrapper, .dividerFat, .exportText {
      display: none;
    }
    .excelIcon, .CSVIcon {
        margin-right: 0px;
    }
    #dropdownMenu2 {
      background-color: #e2e2e2;
    }
}

@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
    html {
        height: calc(100% - 20px);
    }
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.custom-file-control, .form-control, input::placeholder, label {
    line-height: 1;
}

::placeholder {
  color: #b5b5b5 !important;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  color: #b5b5b5 !important;
}

::-ms-input-placeholder {
  color: #b5b5b5 !important;
}
